.container {
    max-width: 1330px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.container--lg {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.ml-10 {
    margin-left: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}