.swiper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.circle-half {
    clip-path: circle(15% at 50% 50%);
}

.circle-half.active {
    animation: linear .133s linear-out;
}


.circle-full.active {
    animation: linear .133s linear-in;
}

.circle-full {
    clip-path: circle(72% at 80% 50%);
}

.text-inner {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.swiper-slide-next > .slider__item > .text-wrap > .text-inner > .text {
    transform: translateY(-235%);
}

.swiper-slide-prev > .slider__item > .text-wrap > .text-inner > .text {
    transform: translateY(235%);
}

.text {
    visibility: hidden;
    transform: translateY(-135%);
    position: relative;
    z-index: 2;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out .7s;
    color: #111111;
}

.slider__item-img {
    width: 100%;
    overflow: hidden;
    clip-path: circle(72% at 80% 50%);
    height: 100%;
}

.slider__item-img span {
    color: #fffffe;
    font-size: 104px;
    background: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.text {
    font-size: 26px;
    line-height: 133%;
    font-weight: 600;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.text.active {
    opacity: 1;
    /*display: block;*/
    visibility: visible;
    transform: translateY(0);
}

.button-wrap {
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-65%, -20%);
    z-index: 2;
}

.swiper {
    height: 100vh;
}

.swiper-slide {
    width: 100%;
    height: 103vh;
    position: relative;
    overflow: hidden;
}

.slider__item-img {
    width: 86%;
    height: 107vh;
    clip-path: circle(72% at 80% 50%);
    object-fit: cover;
}

.slider__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-wrap {
    display: flex;
    width: 35%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.slider__item {
    display: flex;
    width: 100%;
    height: 100%;
}

@media (max-width: 1680px) {

    .text-wrap {
        width: 35%;
    }

    .text-inner {
        height: 350px;
    }

    .button-wrap {
        top: 48%;
    }

    .slider__item-img {
        width: 78%;
        margin-right: 0;
    }
}

@media (max-width: 1440px) {
    .slider__item-img {
        width: 68%;
        margin-right: 0;
    }
}

/*@media (max-width: 1280px) {*/
/*    .slider__item-img{*/
/*        width: 58%;*/
/*        margin-right: 0;*/
/*    }*/
/*}*/


@media (max-width: 1280px) {
    .slider__item-img {
        width: 64%;
        margin-right: 0;
        height: 117%;
    }

    .text-wrap {
        width: 42%;
    }
}


@media (max-width: 1024px) {

    .slider__item {
        flex-direction: column-reverse;
        width: 100%;
    }

    .slider__item-img {
        width: 100%;
        margin-right: 0;
        height: 117%;
    }

    .text-wrap {
        width: 42%;
    }
}


@media (max-width: 768px) {

    .text-wrap {
        position: relative;
        top: -50%;
        width: 100%;
        transform: translateY(25%);
        z-index: 99999999;
    }

    .button-wrap {
        position: absolute;
        top: 40%;
        left: 32%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .slider__item-img {
        height: 136vh;
        width: 104%;
    }

    .text {
        color: #007BFF;
    }
}

@media (max-width: 576px) {

    .text-wrap {
        position: relative;
        top: -50%;
        width: 100%;
        transform: translateY(25%);
        z-index: 99999999;
    }

    .button-wrap {
        position: absolute;
        top: 40%;
        left: 32%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .slider__item-img {
        height: 127vh;
        width: 104%;
    }

    .text {
        color: #007BFF;
    }
}


@keyframes linear-in {
    from {
        clip-path: circle(15% at 50% 50%);
    }

    to {
        clip-path: circle(72% at 80% 50%);
    }
}

@keyframes linear-out {
    from {
        clip-path: circle(72% at 80% 50%);
    }

    to {
        clip-path: circle(15% at 50% 50%);
    }
}
